<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Hola</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>

<body>
  <h1>Hola</h1>
  @loggedIn
  <h2> Hello {{ auth.user.username }} </h2>
  @else
  <p> Please login </p>
  @endloggedIn
</body>

</html>