<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>📦 Research</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>

<body>
    <h1>📦 Research</h1>
    <img src="favicon.svg" alt="✒">
    @if (user)
    <h1>Hola, {{ user.username }} ✋</h1>
    @else
    <p>No haz iniciado sesión 💔</p>
    @endif
</body>

</html>