<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Research</title>
  </head>
  <body>
    <h1>Research</h1>
        @if (username)
            <h1>Hola, {{ username }} ✋</h1>
        @else
            <p>No haz iniciado sesión 💔</p>
        @endif
  </body>
</html>